<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>여행신청번호</th>
                <th>신청아이디</th>
                <th>제목</th>
                <th>도시</th>
                <th>신청날짜</th>
                <th>방문상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="travel : ${travelList}">
                <td th:text="${travel.no}"></td>
                <td th:text="${travel.account.id}"></td>
                <td th:text="${travel.travelDestinations[0].destination.title}"></td>
                <td th:text="${travel.travelDestinations[0].destination.city}"></td>
                <td th:text="${travel.issueDate}"></td>
                <td th:if="${travel.status.name() == 'BLOCK'}" th:text="${travel.status}" th:class="btn-secondary"></td>
                <td th:if="${travel.status.name() == 'PASS'}" th:text="${travel.status}" th:class="btn-primary"></td>
                <td th:if="${travel.status.name() == 'FAIL'}" th:text="${travel.status}" th:class="btn-danger"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>