<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="form-group">
        <label th:for="title">제목</label>
        <p th:text="${board.getTitle()}"></p>
    </div>

    <div class="form-group">
        <label th:for="id">작성자</label>
        <p th:text="${board.getAccount().getId()}"></p>
    </div>

    <div class="form-group">
        <label th:for="writeDate">작성날짜</label>
        <p th:text="${board.getWriteDate().getMonthValue()} + '월 ' +
                    ${board.getWriteDate().getDayOfMonth()} + '일 ' +
                    ${board.getWriteDate().getHour()} + '시 '+
                    ${board.getWriteDate().getMinute()} + '분 '">
        </p>
    </div>

    <div class="form-group">
        <label th:for="contents">내용</label>
        <p th:text="${board.getContents()}"></p>
    </div>

    <div>
        <a class="btn btn-primary" th:href="'/board/update?no='+${board.getNo()}" id="btn-update">수정하기</a>
        <a class="btn btn-primary" th:href="'/board/delete?no='+${board.getNo()}" id="btn-delete">삭제하기</a>
    </div>
    <br>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
<script th:inline="javascript">

    const loginId = [[${session.id}]];
    const boardId = [[${board.getAccount().getId()}]];

    if(loginId != boardId) {
        $("#btn-update").css("display", "none");
        $("#btn-delete").css("display", "none");
    } else {
        $("#btn-update").css("display", "inline-block");
        $("#btn-delete").css("display", "inline-block");
    }

</script>
</html>