<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.getNo()}"></td>
                <td th:text="${board.getAccount().getId()}"></td>
                <td><a th:text="${board.getTitle()}" th:href="'/board/contents?no='+${board.getNo()}"></a></td>
                <td th:text="${board.getWriteDate().getMonthValue()} + '월 ' +
                             ${board.getWriteDate().getDayOfMonth()} + '일 ' +
                             ${board.getWriteDate().getHour()} + '시 '+
                             ${board.getWriteDate().getMinute()} + '분'">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
<script th:inline="javascript">

</script>
</html>