<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>Neverland</h1>
        <div id="account">
            <p class="lead">Member</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/account/join">회원가입</a>
                <a class="btn btn-lg btn-secondary login" href="/account/login">로그인</a>
                <a class="btn btn-lg btn-secondary logout" href="/account/logout">로그아웃</a>
            </p>
            <p>
                <a class="btn btn-lg btn-secondary logout" href="/account/myAccount">회원정보</a>
                <a class="btn btn-lg btn-secondary logout" href="/account/myTravel">여행지</a>
            </p>
        </div>
        <hr>

        <div id="board">
            <p class="lead">Board</p>
            <p>
                <a class="btn btn-lg btn-dark" href="/board/write">글쓰기</a>
                <a class="btn btn-lg btn-dark" href="/board/list">게시판</a>
            </p>
        </div>
        <hr>

        <div id="member">
            <p class="lead">Travel</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/destination/list">여행지목록</a>
            </p>
        </div>
        <hr>

        <div id="admin">
            <p class="lead">Admin</p>
            <p>
                <a class="btn btn-lg btn-info" href="/destination/register">여행지등록</a>
            </p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:inline="javascript">

    const loginId = [[${session.id}]];

    if (loginId != null) {
        $(".login").css("display", "none");
        $(".logout").css("display", "inline-block");
    } else {
        $(".login").css("display", "inline-block");
        $(".logout").css("display", "none");
    }

    const loginLevel = [[${session.level}]];

    if (loginLevel == 1) {
        $("#admin").css("display", "inline-block");
    } else {
        $("#admin").css("display", "none");
    }

</script>
</body>
</html>