<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>Neverland</h1>
        <div id="account">
            <p class="lead">Member</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/account/join" >회원가입</a>
                <a class="btn btn-lg btn-secondary" href="/account/login" id="login">로그인</a>
                <a class="btn btn-lg btn-secondary" href="/account/logout" id="logout">로그아웃</a>
            </p>
        </div>
        <hr>

        <div id="board">
            <p class="lead">Board</p>
            <p>
                <a class="btn btn-lg btn-dark" href="/board/list">게시판</a>
            </p>
        </div>
        <hr>

        <div id="member">
            <p class="lead">Course</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/travel/register">여행신청</a>
            </p>
        </div>
        <hr>

        <div id="">
            <p class="lead">Admin</p>
            <p>
                <a class="btn btn-lg btn-info" href="/destination/register">목적지</a>
            </p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:inline="javascript">

    var loginId = [[${session.id}]];

    if (loginId != null) {
        $("#login").css("display", "none");
        $("#logout").css("display", "inline-block");
    } else {
        $("#login").css("display", "inline-block");
        $("#logout").css("display", "none");
    }

    var loginLevel = [[${session.level}]];

    if (loginLevel == 1) {
        $("#admin").css("display", "inline-block");
    } else {
        $("#admin").css("display", "none");
    }

</script>

</body>
</html>