<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

        <div class="jumbotron">
            <h1>Neverland</h1>
            <p class="lead">회원</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/member/join">회원가입</a>
                <a class="btn btn-lg btn-secondary" href="/member/login" id="login">로그인</a>
                <a class="btn btn-lg btn-secondary" href="/member/logout" id="logout">로그아웃</a>
                <a class="btn btn-lg btn-secondary" href="/member/info" id="info">회원정보</a>
            </p>
            <hr>

            <p class="lead">Neverland</p>
            <p>
                <a class="btn btn-lg btn-dark" href="/board">게시판</a>
                <a class="btn btn-lg btn-dark" href="/course/record">기록하기</a>
            </p>
            <hr>

            <p class="lead">Admin</p>
            <p>
                <a class="btn btn-lg btn-info" href="/departure/register">출발위치</a>
                <a class="btn btn-lg btn-info" href="/arrival/register">도착위치</a>
            </p>
        </div>

    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>