<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>여행번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>목적지</th>
                <th>여행상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="travel : ${travelList}">
                <td th:text="${travel.getNo()}"></td>
                <td th:text="${travel.getAccount().getId()}"></td>
                <td><a th:text="${travel.getTitle()}" th:href="'/travel/contents?no='+${travel.getNo()}"></a></td>
                <td th:text="${travel.travelDestinations[0].destination.name}"></td>
                <td th:text="${travel.getStatus()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
<script th:inline="javascript">

</script>
</html>