<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .block {
        color: gray;
    }
    .pass {
        color: blue;
    }
    .fail {
        color: red;
    }

</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>여행번호</th>
                <th>제목</th>
                <th>도시</th>
                <th>신청날짜</th>
                <th>방문상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="travel : ${travelList}">
                <td th:text="${travel.no}"></td>
                <td th:text="${travel.travelDestinations[0].destination.title}"></td>
                <td th:text="${travel.travelDestinations[0].destination.city}"></td>
                <td th:text="${travel.issueDate}"></td>
                <td th:text="${travel.status}" th:class="${travel.status.name() == 'BLOCK'} ? 'block' : (${travel.status.name() == 'PASS'} ? 'pass' : 'fail')"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>