<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>여행신청번호</th>
                <th>제목</th>
                <th>도시</th>
                <th>신청날짜</th>
                <th>방문상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="travel : ${travelList}">
                <td th:text="${travel.no}"></td>
                <td th:text="${travel.travelDestinations[0].destination.title}"></td>
                <td th:text="${travel.travelDestinations[0].destination.city}"></td>
                <td th:text="${travel.issueDate.getMonthValue()} + '월 ' + ${travel.issueDate.getDayOfMonth()} + '일'"></td>
                <td><a th:if="${travel.status.name() == 'BLOCK'}" class="btn btn-secondary">BLOCK</a>
                    <a th:if="${travel.status.name() == 'PASS'}" class="btn btn-primary">PASS</a>
                    <a th:if="${travel.status.name() == 'FAIL'}" class="btn btn-danger">FAIL</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>