<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/departure/register" th:object="${departureForm}" method="post">
        <div class="form-group">
            <label th:for="name">출발장소</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="출발장소를 입력하세요"
                   th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="pw">장소설명</label>
            <input type="text"th:field="*{information}" class="form-control" placeholder="출발위치를 입력하세요"
                   th:class="${#fields.hasErrors('information')} ? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('information')}" th:errors="*{information}" style="color: red">Incorrect date</p>
        </div>

        <button type="submit" class="btn btn-primary">등록하기</button>
    </form>
    <br/>

    <div th:replace="fragments/footer :: footer"/>

</div>

</body>
</html>